# This file contains settings that should be customized
# for your printer.  Things that are not in common with other
# builds of the same size belong here.  For example, Z endstop
# location and offset

# Z Offset
[stepper_z]
##  Z-position of nozzle (in mm) to z-endstop trigger point relative to print surface (Z0)
##  (+) value = endstop above Z0, (-) value = endstop below
##	Increasing position_endstop brings nozzle closer to the bed
##  After you run Z_ENDSTOP_CALIBRATE, position_endstop will be stored at the very end of your config
# Energetic PEI (Smooth): -1.015
# Energetic PEI (Textured): -0.965
position_endstop: -1.015

